{% extends 'base.html' %}

{#jinja title block#}
{% block title %}
    Sales Made
{% endblock %}

{#jinja style block#}
{% block styles %}
    <link rel="stlesheet" href="/static/css/main.css">
{% endblock %}

{#jinja body block#}
{% block content %}

    <body>
    <h4>Total Sales Made</h4>

    <table class="table table-striped">
        <thead>
        <tr>
            {#                    create columns of the above table#}
            <th scope="col">Id</th>
            <th scope="col">Product Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Remaining Stock</th>
            <th scope="col">Total Amount Spent</th>

        </tr>
        </thead>

        <tbody>
        {% for each in records %}
        <tr>
            <th scope="row">{{ each.id }}</th>
            <td>{{ each.inv_name }}</td>
            <td>{{ each.quantity }}</td>
            <td>{{ each.stock - each.quantity }}</td>
            <td>{{ each.sellingPrice * each.quantity }}</td>

        </tbody>
    </table>

    </body>
    </html>

{% endblock %}